[Unit]
Description=HDFS Datanode Service
Documentation=https://github.com/gitinsky/ansible-role-hdfs-datanode

[Service]
Type=simple
User={{ hadoop_user }}
Group={{ hadoop_user }}
ExecStart={{ hadoop_distr_prefix }}/bin/hdfs datanode
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
